.qqMusic-discovery-item {
    display: flex;
    padding: 15px 0 0 15px;
    .qqMusic-discovery-item-left {
        flex: 1;
        padding-right: 10px;
        overflow: hidden;
        .text {
            margin-top: 15px;
            font-size: 19px;
        }
        .music {
            margin-top: 10px;
            font-size: 13px;
            white-space:nowrap;
            overflow:hidden; 
            text-overflow:ellipsis;
            .music-image {
                width: 21px;
                height: 21px;
                margin-right: 5px;
                vertical-align: -5px;
            }
        }
        .extra {
            font-size: 13px;
            margin-top: 10px;
            color: #6F6F6F;
        }
    }
    .qqMusic-discovery-item-right {
        flex: 0 0 110px;
        height: 110px;
        overflow: hidden;
        .image {
            width: 110px;
        }
    }
}
.qqMusic-discovery-carousel{
    margin-top: 15px;
    .top{
        .tag{
            font-size: 11px;
            background: #000;
            color: #fff;
            padding: 1px 2px;
            margin-left: 15px;
        }
    }
    .bottom{
        margin-top: 1px;
        height: 99px;
        overflow-y: hidden;
        .list{
            padding-left: 12px;
            white-space:nowrap;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            .item{
                display: inline-block;
                position: relative;
                margin-left: 3px;
                .image{
                    width: 168px;
                    height: 100px;
                }
                .mask{
                    position: absolute;
                    top:0;
                    left:0;
                    width: 168px;
                    height: 100px;
                    background: rgba(0,0,0,0.4);
                    .title{
                        margin-top: 40px;
                        color: #fff;
                        text-align: center;
                        font-size: 21px;
                    }
                    .text{
                        margin-top: 5px;
                        color: #ccc;
                        text-align: center;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
}