.qqMusic-home-body {
    background: #fff;
    .slideshow-list {
        min-height: 154px;
        .slideshow-item-link {
            display: block;
        }
        .slideshow-item-img {
            width: 100%;
        }
    }
    .qqMusic-grid-list {
        margin-top: 16px;
        .am-flexbox {
            height: 60px !important;
            .qqMusic-grid-item {
                display: flex;
                align-items: center;
                padding-left: 15px;
                height: 60px;
                .qqMusic-grid-item-icon {
                    width: 24px;
                    height: 24px;
                }
                .qqMusic-grid-item-text {
                    padding-left: 10px;
                    font-size: 15px;
                }
            }
        }
    }
    .qqMusic-songList-recommend {
        margin: 15px 0;
        .title {
            position: relative;
            text-align: center;
            font-size: 18px;
            letter-spacing: 5px;
            .icon-circle-right {
                display: inline-block;
                width: 26px;
                height: 26px;
                position: absolute;
                right: 15px;
                top: -3px;
                background: url('../../assets/imgs/icon-circle-right.png');
                background-size: 26px 26px;
            }
        }
        .qqMusic-recommend-list {
            margin-top: 15px;
            .am-flexbox {
                height: 165px !important;
                .qqMusic-recommend-item {
                    .qqMusic-recommend-item-image-wrapper {
                        position: relative;
                        width: 100%;
                        height: 125px;
                       .image{
                            width: 100%;
                            height: 100%;
                        }
                        .amount{
                            position: absolute;
                            left: 10px;
                            bottom: 5px;
                            font-size: 12px;
                            color: #fff;
                        }
                        .amount:before{
                            content: '';
                            display:inline-block;
                            width: 12px;
                            height: 12px;
                            margin-right: 5px;
                            background-image: url('../../assets/imgs/icon-music-amount.png');
                            background-size: 12px 12px;
                        }
                        .link-to-musicList-detail{
                            position: absolute;
                            right: 5px;
                            bottom: 5px;
                            width: 25px;
                            height: 25px;
                        }
                    }
                    .text{
                        padding: 4px 2px;
                        font-size: 11px;
                        line-height: 16px;
                        text-align: left;
                    }
                }
            }
        }
    }
}