.qqmusic-home-body {
    .qqmusic-mycenter-top {
        padding: 5px 0 20px;
        background: #f5f5f9;
        .qqmusic-mycenter-user {
            background: #fff;
            padding-bottom: 5px;
            .qqmusic-mycenter-user-module {
                text-align: center;
                padding-top: 5px;
                .qqmusic-mycenter-user-audition,
                .qqmusic-mycenter-user-dredge {
                    display: inline-block;
                    border: 1px solid #8a8a8a;
                    text-align: center;
                    width: 80px;
                    height: 25px;
                    border-radius: 15px;
                    .text {
                        padding-left: 4px;
                        font-size: 14px;
                        color: #cdcdcd;
                    }
                    .icon {
                        width: 24px;
                        height: 24px;
                        vertical-align: -5px;
                    }
                }
                .qqmusic-mycenter-user-photo {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    vertical-align: middle;
                    margin: 0 15px;
                }
                .userName:before,
                .userName:after {
                    content: "";
                    display: inline-block;
                    height: 1px;
                    width: 40px;
                    border-top: 1px solid #2c2c2c;
                    vertical-align: middle;
                }
                .userName:before {
                    margin-right: 5px;
                }
                .userName::after {
                    margin-left: 5px;
                }
                .qqmusic-mycenter-user-rank {
                    height: 19px;
                    width: 19px;
                }
            }
        }
        .qqmusic-mycenter-grid {
            .am-flexbox {
                height: 75px !important;
                .qqmusic-mycenter-grid-item {
                    .image {
                        width: 35px;
                        height: 35px;
                    }
                    .text {
                        text-align: center;
                        font-size: 15px;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
    .qqmusic-mycenter-middle {
        margin-top: 5px;
        background: #fff;
        .qqmusic-mycenter-station {
            display: flex;
            height: 55px;
            .qqmusic-mycenter-station-left {
                flex: 0 0 65px;
                .station-image {
                    width: 55px;
                    height: 55px;
                }
            }
            .qqmusic-mycenter-station-right {
                flex: 1;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .station-title {
                    font-size: 16px;
                    font-weight: 400;
                }
                .station-text {
                    padding-top: 5px;
                    font-size: 13px;
                    color: #cacaca;
                    font-weight: 300;
                }
            }
        }
    }
}