.qqMusic-home-footer {
    position: relative;
    display: flex;
    align-items: center;
    height: 1.3rem;
    background: #fff;
    .qqMusic-home-footer-left {
        .qqMusic-home-footer-avatar {
            width: 1.0rem;
            height: 1.0rem;
            border-radius: 50%;
            margin-left: 0.2rem;
            &.active {
                animation:animationRotate 10s linear infinite;
            }
        }
    }
    .qqMusic-home-footer-middle {
        padding-left: 0.3rem;
        max-width: 4.0rem;
        .qqMusic-home-footer-song {
            font-size: 0.34rem;
            color: #000;
            font-weight: 400;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .qqMusic-home-footer-singer {
            font-size: 0.26rem;
            color: #6F6F6F;
            margin-top: 0.1rem;
        }
    }
    .no-music{
        display: none;
        position: absolute;
        top:0;
        left: 0;
        right: 2.0rem;
        bottom: 0;
        padding-left: 0.3rem;
        line-height: 1.3rem;
        font-size: 0.3rem;
        background-color: #fff;
        color: #373737;
        &.show{
            display: block;
        }
    }
    .qqMusic-home-footer-right {
        flex: 1;
        text-align: right;
        .qqMusic-play-switch {
            width: 0.7rem;
            height: 0.7rem;
            margin-right: 0.4rem;
        }
        .qqMusic-play-list {
            width: 0.6rem;
            height: 0.7rem;
            margin-right: 0.3rem;
        }
    }
}

//  动画
@keyframes animationRotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}