.qqMusic-songMenu-mangement{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.1s linear;
    background-color: #f5f5f9;
    z-index: 2;
    &.show{
        transform: translateX(0);
    }
    .songMenuMangement-header{
        background: #31c37c;
        height:0 0 40px;
        position: relative;
        .icon-arrow-left{
            position: absolute;
            left: 15px;
            top:10px;
            height: 20px;
        }    
        .title{
            color: #fff;
        }
    }
    .songMenuMangement-body{
        flex: 1;
        overflow: auto;
        .songMenuArray{
            .songMenuItem{
                display: flex;
                height: 60px; 
                margin-top: 4px;  
                background-color: #fff;
                .left{
                    flex: 0 0 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .checkBox{
                        height: 100%;
                        .am-checkbox.am-checkbox-checked .am-checkbox-inner{
                            border: 1px solid #31c37c;
                            background-color: #31c37c;
                        }
                        .am-checkbox.am-checkbox-checked .am-checkbox-inner:after{
                            border-color: #fff;
                        }
                    }
                }         
                .middle{
                    flex:0 0 60px;
                    background: #e6e6e6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .logo{
                        width: 25px;
                        height:25px;
                    }
                } 
                .right{
                    position: relative;
                    flex: 1;
                    .name,.num{
                        padding-left: 10px;
                        font-size: 15px;
                        line-height: 30px;
                        text-align: left;
                        padding-left: 15px;
                    }
                }           
            }   
        }
    }
    .songMenuMangement-footer{
        flex: 0 0 75px;
        background: #fff;
        text-align: center;
        line-height: 25px;
        box-sizing: border-box;
        padding-top: 10px;
        .delete-wrapper{
            .delete{
                width: 25px;
            }
        }
        .text-wrapper{
            text-align: center;
            .text{
                font-size: 14px;
            }
        }
    }
}