.qqMusic-musicList-wrapper{
    .qqMusic-musicList-bg{
        position: fixed;
        top:0;
        right:0;
        bottom: 0;
        left:0;
        background: rgba( 0,0,0,0.4);
        opacity: 0;
        z-index: -1;
        transition: opacity 0.14s linear;
    }
    .qqMusic-musicList-content{
        display: flex;
        flex-direction: column;
        position: fixed;
        left:0;
        bottom:0;
        width: 100%;
        height: 60%;
        z-index: 2;              
        background-color:rgba(31,37,47,0.9);
        transform: translateY(100%);
        transition:  transform 0.14s linear;  
        .qqMusic-musicList-top{
            position: relative;
            flex:0 0 1.0rem;
            .title{
                font-size: 0.34rem;
                color: #fff;
                font-weight: 300;
                line-height: 1.0rem;
                padding-left: 0.3rem;
            }
            .clearList{
                position: absolute;
                top:0.3rem;
                right:0.5rem;
                width: 0.4rem;
            }
        }
        .qqMusic-musicList-middle{
            flex: 1;
            overflow: auto;
            .musicList{
                .musicItem{
                    position: relative;
                    height: 0.8rem;
                    line-height: 0.8rem;
                    padding: 0 0.3rem;
                    font-size: 0.3rem;
                    .tag{
                        margin-left: 0.6rem;
                        height: 0.3rem;
                    }
                    .delete{
                        position: absolute;
                        height: 0.3rem;
                        right: 0.3rem;
                        top:0.28rem;
                    }
                }
            }
        }
        .qqMusic-musicList-bottom{
            color: #fff;
            font-size: 0.32rem;
            text-align: center;
            flex:0 0 1.0rem;
            line-height: 1.0rem;
        }   
    }
    &.show{
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        left:0;
        z-index: 3;
        .qqMusic-musicList-bg{
            opacity: 1;
            z-index: 1;
        }
        .qqMusic-musicList-content{
            transform: translateY(0);  
        }
    }
}