// 头部
$headerFontColor:#dbf3e8;
$headerMainBackgroundColor:#31c37c;
$headerSearchBackgroundColor:#2AAA73;
@mixin flexCenter () {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qqMusic-header {
    background-color: $headerMainBackgroundColor;
    .qqMusic-header-top {
        position: relative;
        @include flexCenter();
        height: 40px;
        .qqMusic-tab {
            font-size: 20px;
            color: $headerFontColor;
            padding: 0 10px;
            font-weight: 300;
        }
        .qqMusic-tab-active {
            font-weight: 700;
        }
        .qqMusic-header-icon-left {
            position: absolute;
            left: 12px;
            top: 3px;
            width: 28px;
            height: 35px;
            background: url('../../assets/icon-menu-list.png');
            background-size: 28px 35px;
        }
        .qqMusic-header-icon-right {
            position: absolute;
            right: 12px;
            top: 6px;
            width: 28px;
            height: 28px;
            background: url('../../assets/icon-menu-add.png');
            background-size: 28px 28px;
        }
    }
    .qqMusic-header-bottom {
        padding: 7px 10px;
        .qqMusic-header-search {
            @include flexCenter();            
            height: 30px;
            width: 100%;
            background-color: $headerSearchBackgroundColor;
            border-radius: 5px;
        }
        .qqMusic-search-text {
            margin-left: 5px;
            font-size: 17px;
            font-style: normal;
            color: $headerFontColor;
            font-weight: 300;            
        }
        .qqMusic-search-icon {
            display: inline-block;
            background: url('../../assets/icon-search-default.png');
            height: 18px;
            width: 18px;
            background-size: 18px 18px;
        }
    }
}
.popoverItem-img{
    width: 20px;
    height: 20px;
}
.popoverItem-text{
    padding-left: 10px;
    font-size: 17px;
    vertical-align: 4px;
}