.qqMusic-control {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.1s ease-out;
    background-color: #fff;
    &.show {
        transform: translateY(0);
        z-index: 1;
        .qqMusic-control-content {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
            overflow: auto;
            .qqMusic-control-top {
                position: relative;
                flex: 0 0 50px;
                .icon-control-down {
                    position: absolute;
                    left: 15px;
                    top: 10px;
                    width: 25px;
                }
                .music-name {
                    text-align: center;
                    font-size: 20px;
                    color: #fff;
                    padding-top: 15px;
                }
            }
            .qqMusic-control-middle {
                text-align: center;
                flex: 1;
                .slider-list{
                    min-height: 370px !important;
                }
                .carousel-one {
                    .music-signer {
                        text-align: center;
                        font-size: 16px;
                        color: #fff;
                        padding-top: 15px;
                    }
                    .music-signer:before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        border-top: 1px solid #fff;
                        vertical-align: 6px;
                        margin-right: 10px;
                    }
                    .music-signer:after {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        border-top: 1px solid #fff;
                        vertical-align: 6px;
                        margin-left: 10px;
                    }
                    .music-cover {
                        width: 210px;
                        height: 210px;
                        border-radius: 50%;
                        margin-top: 60px;
                    }
                }
                .carousel-two {
                    position: relative;
                    height: 100%;
                    box-sizing: border-box;
                    padding-top: 10px;
                    .lyricList {
                        overflow: auto;
                        height: 315px;
                        box-sizing: border-box;
                        padding-top: 130px;
                        .lyric {
                            color: #8a8a8a;
                            font-size: 13px;
                            text-align: center;
                            line-height: 40px;
                            &.active {
                                color: #31c37c;
                            }
                        }
                    }
                }
                &.active {
                    .music-cover {
                        animation: animationRotate 10s linear infinite;
                    }
                }
            }
            .qqMusic-control-bottom {
                flex: 0 0 200px;
                box-sizing: border-box;
                padding-bottom: 20px;
                .qqMusic-control-progress {
                    position: relative;
                    margin-top: 15px;
                    text-align: center;
                    .currentPlayTime,
                    .totalPlayTime {
                        position: absolute;
                        color: #8a8a8a;
                        font-size: 12px;
                    }
                    .currentPlayTime {
                        left: 25px;
                        top: 7px;
                    }
                    .totalPlayTime {
                        right: 25px;
                        top: 7px;
                    }
                    .progress-wrapper {
                        position: relative;
                        display: inline-block;
                        width: 200px;
                        height: 1px;
                        background-color: #e6e6e6;
                        .progress-inner {
                            height: 1px;
                            background-color: #31c37c;
                        }
                        .progress-btn {
                            position: absolute;
                            top: -8px;
                            left: 0;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background-color: #31c37c;
                        }
                    }
                }
                .qqMusic-control-btns {
                    display: flex;
                    height: 90px;
                    align-items: center;
                    justify-content: center;
                    margin-top: 25px;
                    .status {
                        width: 70px;
                        height: 70px;
                        margin: 0 15px;
                    }
                    .prev,
                    .next {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        .qqMusic-control-bg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-size: cover;
            background-position: bottom center;
            z-index: 1;
            -webkit-filter: blur(15px);
            -webkit-transform: scale(1.15);
        }
        .qqMusic-control-bg-mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000;
            z-index: 2;
            opacity: 0.6;
        }
    }
}

//  动画
@keyframes animationRotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}