.qqMusic-myCenter-bottom {
    text-align: center;
    margin-top: 5px;
    background: #fff;
    line-height: 40px;
    color: #8a8a8a;
    .qqMusic-myCenter-tabs {
        position: relative;
        .qqMusic-myCenter-tab {
            padding: 0 10px;
            &.active {
                color: #000;
            }
        }
        .addSongMenu {
            position: absolute;
            right: 40px;
            top: 11px;
            display: inline-block;
            height: 20px;
            width: 20px;
            background: url('../../assets/icon-song-menu-add.png');
            background-size: 20px 20px;
        }
        .songMenuManage {
            position: absolute;
            right: 10px;
            top: 12px;
            display: inline-block;
            height: 20px;
            width: 20px;
            background: url('../../assets/icon-song-menu.png');
            background-size: 20px 20px;
            .no-collected-songMenu {
                font-size: 15px;
                text-align: center;
                color: #cdcdcd;
            }
        }
    }
    .qqMusic-myCenter-tabContent-one {
        background: #fff;
        min-height: 90px;
        .songMenuArray {
            .songMenuItem {
                display: flex;
                height: 60px;
                margin-top: 1px;
                .left {
                    flex: 0 0 60px;
                    background: #e6e6e6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .logo {
                        width: 25px;
                        height: 25px;
                    }
                }
                .right {
                    position: relative;
                    flex: 1;
                    padding-left: 10px;
                    .name,
                    .num {
                        font-size: 15px;
                        line-height: 30px;
                        text-align: left;
                        padding-left: 15px;
                    }
                    .icon-right {
                        position: absolute;
                        top: 22px;
                        right: 15px;
                        background: url("../../assets/icon-easy-right.png");
                        background-size: cover;
                        height: 17px;
                        width: 17px;
                    }
                }
            }
        }
        .add-songMenu-wrapper {
            display: flex;
            height: 60px;
            .add-songMenu-wrapper-left {
                flex: 0 0 60px;
                background: #e6e6e6;
                display: flex;
                align-items: center;
                justify-content: center;
                .add-songMenu-img {
                    width: 30px;
                    height: 30px;
                }
            }
            .add-songMenu-wrapper-right {
                flex: 1;
                .add-songMenu-text {
                    line-height: 60px;
                    text-align: left;
                    margin-left: 10px;
                }
            }
        }
    }
    .qqMusic-myCenter-tabContent-two {
        background: #fff;
        min-height: 60px;
    }
}